*
!.editorconfig
!.gitignore
!.golangci.yml
!.goreleaser.yaml
!.schema.json
!README.md
!config.example.json
!UNLICENSE

!go.mod
!go.sum

!*.go
!*/
!*/*.go

!.github
!.github/workflows
!.github/workflows/*.yml
